.workers {

    margin-bottom: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    margin-bottom: 140px;

    &__title {
        margin-bottom: 50px;
        font-size: 40px;
        line-height: 40px;
        color: rgba(0, 0, 0, 0.87);
        
    }

    &__list {
        width: 90%;
        margin-bottom: 50px !important;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;

        & svg {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-column-end: 2;
        }
    }
}

@media screen and (max-width: 768px) {
    .workers {
        &__list {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
    }
}

@media screen and (max-width: 600px) {
    .workers {
        margin-bottom: 70px;

        &__list {

            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        }
    }
}

@media screen and (max-width: 350px) {
    .workers__title {
        font-size: 30px;
    }
}