.header {
    padding: 0 10px;
    position: sticky;
    top: 0px;
    z-index: 150;
    // max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 60px;
    
    background-color: rgba(255, 255, 255, 1);

    &__container {
        max-width: 1170px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo img{
        width: 104px;
        height: 26px;
    }

    &__button-container {
        display: flex;
    }

    &__button-container a:last-child {
        margin-left: 10px;
    }
}

@media screen and (max-width: 350px) {
    .header {
        padding: 0 3px;
    
        &__logo img{
            width: 104px;
            height: 26px;
        }
    
        &__button-container {
            display: flex;
        }
    
        &__button-container button:last-child {
            margin-left: 3px;
        }
    }
}